# Node.js modules
/node_modules

# Build output directories
/dist
/build
/out

# Environment variables
.env
.env.*.local
.env.local

# VS Code specific files
.vscode/

# Log files
*.log

# Operating system specific files
.DS_Store # macOS
Thumbs.db # Windows

# Temporary files
*.tmp
*.bak